<app-spinner [isRunning]="!trips"></app-spinner>
<body infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="true">  
  <div class="toBeCentered" *ngFor="let trip of trips">
      <article class="post">
          <header >
              <div class="title">
                  <h2><a href="#">{{trip.name}}</a></h2>
                </div>
              <div class="meta">
                  <a href="#" class="author"><span class="name">{{trip.user.firstName}} {{trip.user.lastName}}</span><img src="{{trip.user.pictureUrl}}" alt="" /></a>
              </div>
          </header>
          <p>{{trip.description}}</p>
          <footer>
              <ul class="actions">
                  <li><a href="#" class="button large">Continue Reading</a></li>
              </ul>
              <ul class="stats">
                  <li><a href="#">General</a></li>
                  <li><a href="#" class="icon fa-heart">28</a></li>
                  <li><a href="#" class="icon fa-comment">128</a></li>
              </ul>
          </footer>
      </article>      
  </div>
</body>