<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/0098c65dd6.js"></script>
</head>
<body>
    <div class="toBeCentered">
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">Анонс реп-альбома Наруто</a></h2>
                    <p>Супер реп без кринжа только флекс</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2018-11-01">November 1, 2018</time>
                    <a href="#" class="author"><span class="name">Naruto Uzumaki</span><img src="../../assets/images/triptests/icon.png" alt="" /></a>
                </div>
            </header>
            <a href="#" class="image featured"><img src="../../assets/images/triptests/naruto.jpg" alt="" /></a>
            <p>Йоу, собаки! Я - Наруто Узумаки! Да, и кстати, я - будущий Хокаге. У меня все круто, я же все-таки Наруто. Ненавижу Орочимару и Каббуто. Знаю много дзютсу, ненавижу бутсы. Лучше клонов, Расенгана не найдутся. У меня фанаты, плюс я люблю Хинату, Немало друзей, и однокомнатная хата. Йоу, все классно. Меня зовут Саске. Ненавижу Итачи - брата из "Акацуки" Фанаток моих море, слезы, боль и горе. Я люблю одно - использовать Чидори. Когда сижу на хате, изучаю все печати, Мне пофиг на Коноху, и на генинов, Кстати! Я с Орочимару, теперь я ниндзя Звука. Недавно Наруто нападал, понял, ....?!</p>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button large">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    </div>
</body>