<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="toBeCentered">
        <article class="post">
            <header >
                <div class="title">
                    <h2><a href="#">Lorem ipsum</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ornare lectus sed hendrerit. Cras sollicitudin neque dui, ac pretium risus placerat a. Suspendisse viverra diam sed scelerisque congue</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2018-11-01">November 1, 2018</time>
                    <a href="#" class="author"><span class="name">Naruto Uzumaki</span><img src="../../assets/images/triptests/icon.png" alt="" /></a>
                </div>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ornare lectus sed hendrerit. Cras sollicitudin neque dui, ac pretium risus placerat a. Suspendisse viverra diam sed scelerisque congue. Phasellus volutpat, risus nec volutpat cursus, leo tortor eleifend diam, in viverra augue ex vitae neque. Donec placerat accumsan lacus. Vestibulum mauris risus, auctor vitae nisl eget, molestie mattis mi. Sed gravida nisi quis felis porta dictum. Mauris a nibh non justo fringilla euismod. Sed eleifend, felis vitae tempor blandit, dui neque mattis nisi, eu sollicitudin massa quam mollis metus. </p>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button large">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    </div>
</body>